ai_email_response_system.json
{
  "name": "AI Email Response System",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "fe466cc5-f899-4468-9543-21d6821852f4",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "32rMf8xAkcQ3gXC3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "389aaa2b-1092-4b09-bea3-626b9e8510e4",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "2ec3be76-138e-4481-b9b6-68748df3cf26",
              "name": "senderEmail",
              "value": "={{ $json.from.value[0].address }}",
              "type": "string"
            },
            {
              "id": "3fb88404-71ed-4ff4-a06b-0eac238840c1",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "4533e281-c8f2-46d8-893d-e6466d5b6597",
              "name": "body",
              "value": "={{ $json.text || $json.snippet }}",
              "type": "string"
            },
            {
              "id": "96fdf26c-83a3-48a7-9bc5-c468d22257aa",
              "name": "rowId",
              "value": "={{ $now.toMillis().toString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "47c3ddc1-ce2e-464c-b623-8c72cf871a1a",
      "name": "Extract Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=1EBkvoKpsD1ihBtxS83SZ_tm6qbgkuUoTxQhsqnhMAQo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EBkvoKpsD1ihBtxS83SZ_tm6qbgkuUoTxQhsqnhMAQo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $json.timestamp }}",
            "Sender Email": "={{ $json.senderEmail }}",
            "Subject": "={{ $json.subject }}",
            "Body": "={{ $json.body }}",
            "Status": "Pending",
            "Response Sent": "No",
            "ROW ID": "={{ $json.rowId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sender Email",
              "displayName": "Sender Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Body",
              "displayName": "Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response Sent",
              "displayName": "Response Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ROW ID",
              "displayName": "ROW ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Generated Response",
              "displayName": "Generated Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "1b8400e0-752b-4a7f-a97b-206ca84fa4a2",
      "name": "Append to Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0Cl5XXFjguT6IJpf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ARNPMN6PP",
          "mode": "id"
        },
        "text": "={{ $('Build Slack Blocks').item.json.messageText }}",
        "otherOptions": {
          "unfurl_links": false,
          "unfurl_media": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        832,
        0
      ],
      "id": "35331bee-1628-434b-bace-3a23b76b52b6",
      "name": "Slack Approval Request",
      "webhookId": "398e5091-9862-42bd-a524-862523c92491",
      "credentials": {
        "slackApi": {
          "id": "AhQ802QP7TCvjRhE",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "limitWaitTime": true,
        "resumeAmount": 20,
        "resumeUnit": "minutes",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1040,
        0
      ],
      "id": "4dfcd687-7555-487f-a750-593c64a8479c",
      "name": "Wait for Approval",
      "webhookId": "691ef4f4-d226-4ff9-83a2-9055fb82e818"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9bc85c7f-91bd-4900-8cb8-8daf229dd407",
              "leftValue": "={{ $json.query.decision }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1248,
        0
      ],
      "id": "96acec75-40a9-4896-8ac1-60a320d418b8",
      "name": "Approved?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "==From: {{ $('Extract Fields').item.json.senderEmail }}\n   Subject: {{ $('Extract Fields').item.json.subject }}\n   \n   Body:\n   {{ $('Extract Fields').item.json.body }}",
        "options": {
          "systemMessage": "You are a professional customer support agent. Write a helpful, concise, friendly reply to the customer's email. Address their concern directly. Sign off as \"Customer Support Team\". Do not include a subject line — just the reply body."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1696,
        -752
      ],
      "id": "078242fa-5503-477f-b4bb-24726ef8653d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1616,
        -432
      ],
      "id": "9a1aa029-4478-4570-8074-9ece7ac219f5",
      "name": "AI Agent1",
      "credentials": {
        "groqApi": {
          "id": "kMD2XeYG7lH5l0xl",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1EBkvoKpsD1ihBtxS83SZ_tm6qbgkuUoTxQhsqnhMAQo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EBkvoKpsD1ihBtxS83SZ_tm6qbgkuUoTxQhsqnhMAQo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ROW ID": "={{ $('Extract Fields').item.json.rowId }}",
            "Status": "Approved",
            "Response Sent": "Yes",
            "Generated Response": "={{ $json.output }}"
          },
          "matchingColumns": [
            "ROW ID"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sender Email",
              "displayName": "Sender Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Body",
              "displayName": "Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response Sent",
              "displayName": "Response Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ROW ID",
              "displayName": "ROW ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Generated Response",
              "displayName": "Generated Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2160,
        -752
      ],
      "id": "110aaa3a-7bdf-479c-90bc-595f5fb8a9e3",
      "name": "Update Sheet - Approved",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0Cl5XXFjguT6IJpf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1EBkvoKpsD1ihBtxS83SZ_tm6qbgkuUoTxQhsqnhMAQo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EBkvoKpsD1ihBtxS83SZ_tm6qbgkuUoTxQhsqnhMAQo/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ROW ID": "={{ $('Extract Fields').item.json.rowId }}",
            "Status": "Rejected",
            "Response Sent": "No"
          },
          "matchingColumns": [
            "ROW ID"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sender Email",
              "displayName": "Sender Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Body",
              "displayName": "Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Response Sent",
              "displayName": "Response Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ROW ID",
              "displayName": "ROW ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Generated Response",
              "displayName": "Generated Response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1680,
        704
      ],
      "id": "e398b979-03c9-4d49-b0a3-d2b8f7f9f43e",
      "name": "Update Sheet - Rejected",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "0Cl5XXFjguT6IJpf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=={{ $('Extract Fields').item.json.senderEmail }}",
        "subject": "==Re: {{ $('Extract Fields').item.json.subject }}",
        "message": "=={{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2368,
        -752
      ],
      "id": "795025f9-b09d-491d-b86c-b946bd4e97d2",
      "name": "Send Email (disabled)",
      "webhookId": "0b582f80-e922-4b55-9eee-61d254f1ba01",
      "credentials": {
        "gmailOAuth2": {
          "id": "32rMf8xAkcQ3gXC3",
          "name": "Gmail account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const email = $('Extract Fields').item.json;\nconst resumeUrl = $execution.resumeUrl || '';\n\nconst approveUrl = resumeUrl + (resumeUrl.includes(\"?\") ? \"&\" : \"?\") + \"decision=approved\";\nconst rejectUrl = resumeUrl + (resumeUrl.includes(\"?\") ? \"&\" : \"?\") + \"decision=rejected\";\n\nconst messageText = \"*New Email for Review*\\n\\n\" +\n  \"*From:* \" + email.senderEmail + \"\\n\" +\n  \"*Subject:* \" + email.subject + \"\\n\\n\" +\n  \"*Preview:*\\n\" + (email.body || \"\").substring(0, 400) + \"\\n\\n\" +\n  \"<\" + approveUrl + \"|✅ APPROVE>  |  <\" + rejectUrl + \"|❌ REJECT>\";\n\nreturn [{\n  json: {\n    messageText: messageText,\n    approveUrl: approveUrl,\n    rejectUrl: rejectUrl,\n    senderEmail: email.senderEmail,\n    subject: email.subject,\n    body: email.body,\n    rowId: email.rowId,\n    timestamp: email.timestamp\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        0
      ],
      "id": "d6f3a202-7eb4-43e0-8e0c-42675ee1c1d5",
      "name": "Build Slack Blocks"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Extract Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fields": {
      "main": [
        [
          {
            "node": "Append to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Sheet": {
      "main": [
        [
          {
            "node": "Build Slack Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Approval Request": {
      "main": [
        [
          {
            "node": "Wait for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Approval": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Sheet - Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update Sheet - Approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet - Approved": {
      "main": [
        [
          {
            "node": "Send Email (disabled)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Slack Blocks": {
      "main": [
        [
          {
            "node": "Slack Approval Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e6513e66-a648-4049-89c5-425c0aa711ac",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0d4f58a227667506d0aa28c4b4a77b52e221250e746b3bfa9c65c9f9a280b1a5"
  },
  "id": "sm6sl82abLFTidSk",
  "tags": []
}
